.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_left {
    display: flex;
    flex-direction: column;
}

.presentation {
    border-width: 0 !important;
    background-color: transparent !important;
    box-shadow: initial !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    flex: 1 10 auto;
}

.content-item {
    flex: 1 1 auto;
}

.content-image {
    flex: 1 10 auto;
}

.content-audio {
    flex: 1 1 auto;
    margin-top: 20px;
}

.code {
    box-shadow: initial;
}

.lines {
    font-size: 12px !important;
    background-color: transparent !important;
    line-height: 12px !important;
}